<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot App</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Wellcome to Chatbot App</h1>

    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi, there!</span></p>
      </div>
    </div>

    <div class="userInput">
      <input
        id="textInput"
        type="text"
        name="userMessage"
        placeholder="Type your message"
      />
      <button type="buttonInput" type="submit" value="Send">Send</button>
    </div>

    <script>
      function getUserResponse() {
        var userText = $("#textInput").val();
        var userHTML = "<p class='userText'><span>" + userText + "</span></p>";
        $("#textInput").val("");
        $("#chatbox").append(userHTML);
        // document
        //   .getElementById("userInput")
        //   .scrollIntoView({ block: "start", behavior: "smooth" });
        var chatbox = document.getElementById("chatbox");
        console.log(userText);
        $.get("/get", { userMessage: userText }).done(function (data) {
          console.log(data);
          var botHTML = "<p class='botText'><span>" + data + "</span></p>";
          $("#chatbox").append(botHTML);

          // Scroll lagi ke elemen terakhir setelah bot menambahkan pesan
          chatbox.lastElementChild.scrollIntoView({
            block: "start",
            behavior: "smooth",
          });
        });
      }

      $("#textInput").keypress(function (e) {
        if (e.which == 13) {
          getUserResponse();
        }
      });

      $("buttonInput").click(function () {
        getUserResponse();
      });
    </script>
  </body>
</html>
